In [56]:
import openpyxl
import os
import numpy as np
import pandas as pd

In [72]:
file_path = "C:\\Users\\Joanna Kang\\Desktop\\TASK\\5. Data Anaylsis\\Daily report\\200709_Paid Media Daily report.xlsx"
tab_list = ['Facebook_RawData', 'Instagram_RawData', 'Twitter_RawData', 'Google_RawData']
#Facebook = pd.read_excel(file_path, sheet_name = tab_list[0])
#Instagram = pd.read_excel(file_path, sheet_name = tab_list[1])
#Twitter = pd.read_excel(file_path, sheet_name = tab_list[2])
Google = pd.read_excel(file_path, sheet_name = tab_list[3])

In [58]:
Facebook

,Setdata,Day,Targeting,Creative,Amount spent (GBP),Impressions,Link clicks,Purchases,Platform
0,190624,2019-06-24,APEACH,PINK,4.69,2073,26,0,Facebook
1,190624,2019-06-25,APEACH,PINK,9.37,4523,44,2,Facebook
2,190715,2019-07-15,RETARGETING,SUMMERSALE,2.82,407,15,0,Facebook
3,190715,2019-07-15,RETARGETING,LASTMINUTE,0.94,138,0,0,Facebook
4,190715,2019-07-16,RETARGETING,SUMMERSALE,11.20,5169,65,1,Facebook
...,...,...,...,...,...,...,...,...,...
7262,200701,2020-07-08,PURCHASE,PLUSH&CUSHION,4.64,1911,15,0,Facebook
7263,200701,2020-07-08,LOOKEMAIL,BEDTIME,4.64,1396,17,0,Facebook
7264,200701,2020-07-08,PURCHASE,STATIONERY,4.61,1264,11,0,Facebook
7265,200701,2020-07-08,LOOKEMAIL,DAILYACCS,4.56,1599,16,0,Facebook
7266,200701,2020-07-08,LOOKEMAIL,STATIONERY,4.27,1627,3,0,Facebook

In [59]:
Facebook.columns

Index(['Setdata', 'Day', 'Targeting', 'Creative', 'Amount spent (GBP)',
       'Impressions', 'Link clicks', 'Purchases', 'Platform'],
      dtype='object')

In [60]:
Facebook = Facebook [['Setdata', 'Day', 'Targeting', 'Creative', 'Amount spent (GBP)', 'Impressions', 'Link clicks', 'Purchases']]

In [61]:
Facebook['Platform'] = 'Facebook'
Facebook

,Setdata,Day,Targeting,Creative,Amount spent (GBP),Impressions,Link clicks,Purchases,Platform
0,190624,2019-06-24,APEACH,PINK,4.69,2073,26,0,Facebook
1,190624,2019-06-25,APEACH,PINK,9.37,4523,44,2,Facebook
2,190715,2019-07-15,RETARGETING,SUMMERSALE,2.82,407,15,0,Facebook
3,190715,2019-07-15,RETARGETING,LASTMINUTE,0.94,138,0,0,Facebook
4,190715,2019-07-16,RETARGETING,SUMMERSALE,11.20,5169,65,1,Facebook
...,...,...,...,...,...,...,...,...,...
7262,200701,2020-07-08,PURCHASE,PLUSH&CUSHION,4.64,1911,15,0,Facebook
7263,200701,2020-07-08,LOOKEMAIL,BEDTIME,4.64,1396,17,0,Facebook
7264,200701,2020-07-08,PURCHASE,STATIONERY,4.61,1264,11,0,Facebook
7265,200701,2020-07-08,LOOKEMAIL,DAILYACCS,4.56,1599,16,0,Facebook
7266,200701,2020-07-08,LOOKEMAIL,STATIONERY,4.27,1627,3,0,Facebook

In [62]:
Instagram.columns

Index(['Day', 'Post', 'Amount spent (GBP)', 'Impressions', 'Link clicks',
       'Purchases', 'Platform'],
      dtype='object')

In [63]:
Instagram = Instagram[['Day', 'Post', 'Amount spent (GBP)', 'Impressions', 'Link clicks', 'Purchases']]
Instagram['Platform'] = 'Instagram'
Instagram

,Day,Post,Amount spent (GBP),Impressions,Link clicks,Purchases,Platform
0,2019-06-01,"Instagram post: OMG, Finally It's Friday! Enjo...",10.73,26052,149,0,Instagram
1,2019-06-01,Instagram post: Best way to relieve stress fro...,3.76,4693,22,0,Instagram
2,2019-06-02,"Instagram post: OMG, Finally It's Friday! Enjo...",10.62,28303,153,0,Instagram
3,2019-06-03,"Instagram post: OMG, Finally It's Friday! Enjo...",2.77,6179,36,0,Instagram
4,2019-06-03,Instagram post: Anyone who feels depressed on...,1.82,4355,24,0,Instagram
...,...,...,...,...,...,...,...
1687,2020-07-02,Instagram post: Are you enjoying the summer...,0.84,918,1,0,Instagram
1688,2020-07-03,Instagram post: Are you enjoying the summer...,4.19,37449,54,0,Instagram
1689,2020-07-03,Instagram post: Are you enjoying the summer...,0.85,744,1,0,Instagram
1690,2020-07-04,Instagram post: Are you enjoying the summer...,1.56,12859,23,0,Instagram
1691,2020-07-04,Instagram post: Are you enjoying the summer...,0.29,176,1,0,Instagram

In [75]:
Google = Google[['Ad type', 'Day', 'Campaign', 'Ad group', 'Cost', 'Impr.', 'Interactions', 'Conversions']]
Google

,Ad type,Day,Campaign,Ad group,Cost,Impr.,Interactions,Conversions
0,이미지 광고,2019-07-09,UK,UK_GIFT,0.00,14,0,0
1,이미지 광고,2019-07-09,UK,UK_HOME,0.00,3,0,0
2,이미지 광고,2019-07-09,UK,UK_GIFT,0.00,9,0,0
3,이미지 광고,2019-07-09,UK,UK_GIFT,0.88,674,4,0
4,이미지 광고,2019-07-09,UK,UK_HOME,1.55,618,11,0
...,...,...,...,...,...,...,...,...
1650,Product ad,2020-07-05,200504_Shopping AD,200504_Shopping AD,9.74,6600,48,0
1651,Product ad,2020-07-08,200504_Shopping AD,200504_Shopping AD,7.12,7197,35,0
1652,Product ad,2020-07-06,200504_Shopping AD,200504_Shopping AD,6.51,5276,34,1
1653,Product ad,2020-07-03,200504_Shopping AD,200504_Shopping AD,10.41,7129,48,1
1654,Product ad,2020-07-07,200504_Shopping AD,200504_Shopping AD,13.27,7867,58,2

In [65]:
sales = pd.read_csv("C:\\Users\\Joanna Kang\\Desktop\\Data_source\\Saledata_Total\\Shopify\\sales_2019-03-09_2020-07-08.csv")
sales

,product_title,variant_sku,day,net_quantity,gross_sales,discounts,returns,net_sales,taxes,total_sales
0,Winter Wonderland Plastic Bag,NaN,2020-01-01,108,8.71,0.00,0.00,8.71,2.09,10.80
1,Winter Wonderland Plastic Bag,NaN,2019-12-30,106,8.52,0.00,0.00,8.52,2.05,10.57
2,Winter Wonderland Plastic Bag,NaN,2019-12-27,98,7.88,0.00,0.00,7.88,1.87,9.75
3,Winter Wonderland Plastic Bag,NaN,2019-12-23,98,7.89,-0.20,0.00,7.69,1.91,9.60
4,Plastic Bag,NaN,2019-11-30,95,7.67,-0.31,0.00,7.36,1.03,8.39
...,...,...,...,...,...,...,...,...,...,...
13967,"KANGDANIEL EDITION, Plush Keyring - Hipster Ap...",F10577,2020-03-09,-2,0.00,0.00,-23.48,-23.48,-4.69,-28.17
13968,"Popsockets - Ryan, Iconic Pattern",G00001,2020-05-26,-2,0.00,0.00,-24.68,-24.68,0.00,-24.68
13969,Coin Wallet - Little Ryan,F10134,2020-03-27,-3,0.00,0.00,-37.47,-37.47,-7.49,-44.97
13970,"KF X Battle Grounds Collaboration, Clear Rugge...",93008053,2019-08-05,-4,0.00,0.00,-43.96,-43.96,0.00,-43.96
13971,"TWICE Edition, Winter Fleece Socks - Apeach",F10216,2019-10-30,-7,7.49,0.00,-59.92,-52.43,0.00,-52.43

In [66]:
Facebook_daily = pd.pivot_table(Facebook, index = ['Day'], aggfunc=sum, fill_value = 0) 
Facebook_daily = Facebook_daily.drop(['Setdata'], axis=1)
Facebook_daily['Platform'] = 'Facebook'
Facebook_daily

            Amount spent (GBP)  Impressions  Link clicks  Purchases  Platform
Day
2019-06-24                4.69         2073           26          0  Facebook
2019-06-25                9.37         4523           44          2  Facebook
2019-07-15                3.76          545           15          0  Facebook
2019-07-16               12.39         5838           69          1  Facebook
2019-07-18                4.62         1242           16          1  Facebook
...                        ...          ...          ...        ...       ...
2020-07-04               49.72        17978          164          1  Facebook
2020-07-05               53.64        22057          204          1  Facebook
2020-07-06               49.44        18178          190          3  Facebook
2020-07-07               50.51        18735          169          0  Facebook
2020-07-08               46.76        16696          170          0  Facebook

[351 rows x 5 columns]

In [67]:
Instagram_daily = pd.pivot_table(Instagram, index = ['Day'], aggfunc=sum, fill_value = 0)
Instagram_daily['Platform'] = 'Instagram' 
Instagram_daily

            Amount spent (GBP)  Impressions  Link clicks  Purchases   Platform
Day
2019-06-01               14.49        30745          171          0  Instagram
2019-06-02               10.62        28303          153          0  Instagram
2019-06-03                4.59        10534           60          0  Instagram
2019-06-04                4.70        11331           48          0  Instagram
2019-06-05                5.56        12096           41          1  Instagram
...                        ...          ...          ...        ...        ...
2020-06-30                5.03        52337           75          0  Instagram
2020-07-01                5.09        52745           81          0  Instagram
2020-07-02                5.23        49827           86          0  Instagram
2020-07-03                5.04        38193           55          0  Instagram
2020-07-04                1.85        13035           24          0  Instagram

[335 rows x 5 columns]

In [68]:
Twitter_daily = Twitter[['Time period', 'Spend', 'Impressions', 'Link clicks']]
Twitter_daily['Purchase'] = 0
Twitter_daily.columns.values[0] = 'Day'
Twitter_daily = pd.pivot_table(Twitter_daily, index = ['Day'], aggfunc=sum, fill_value = 0)
Twitter_daily =Twitter_daily[['Spend','Impressions', 'Link clicks', 'Purchase']]
Twitter_daily.columns.values[0] = 'Amount spent (GBP)'
Twitter_daily['Platform'] = 'Twitter'
Twitter_daily

            Amount spent (GBP)  Impressions  Link clicks  Purchase Platform
Day
2019-07-10           15.000000         3787           11         0  Twitter
2019-07-11           15.000000         6212           25         0  Twitter
2019-07-12           15.000000         5503           34         0  Twitter
2019-07-13           15.000000         7593           40         0  Twitter
2019-07-15           15.000000         7754           27         0  Twitter
...                        ...          ...          ...       ...      ...
2020-03-05           10.000000         5221          127         0  Twitter
2020-03-06           10.000000         5226          109         0  Twitter
2020-03-07           10.000000         5738          117         0  Twitter
2020-03-08           10.000000         4965          116         0  Twitter
2020-03-09            2.823645         1574           26         0  Twitter

[165 rows x 5 columns]

In [80]:
Google_daily = pd.pivot_table(Google, index=['Day'], aggfunc=sum, fill_value = 0)
Google_daily = Google_daily[['Cost', 'Impr.', 'Interactions', 'Conversions']]
Google_daily.columns.values[:] = 'Amount spent (GBP)','Impressions', 'Link clicks', 'Purchase'
Google_daily['Platform'] = 'Google'
Google_daily

            Amount spent (GBP)  Impressions  Link clicks  Purchase Platform
Day
2019-07-09               34.10        32276          222         0   Google
2019-07-10               33.37        55527          271         0   Google
2019-07-11               14.69        41755          247         0   Google
2019-07-12               13.89        42439          324         0   Google
2019-07-13               13.57        49759          312         0   Google
...                        ...          ...          ...       ...      ...
2020-07-04                9.42         7931           41         1   Google
2020-07-05                9.74         6600           48         0   Google
2020-07-06                6.51         5276           34         1   Google
2020-07-07               13.27         7867           58         2   Google
2020-07-08                7.12         7197           35         0   Google

[321 rows x 5 columns]